name: Analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 19 * * 5"

jobs:
  analyze:
    name: Analyze
    runs-on: macos-15
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - uses: actions/checkout@v6
      - uses: github/codeql-action/init@v4
        with:
          languages: swift
      - name: Build
        run: swift build
      - name: Verify
        run: |
          file .build/debug/setapp-cli
          .build/debug/setapp-cli --version
      - name: Analyze
        uses: github/codeql-action/analyze@v4
