name: Build

on:
  push:
    paths: ["**.swift"]
    branches: [main]
  pull_request:
    paths: ["**.swift"]
    branches: [main]
  workflow_dispatch:
  
jobs:
  build:
    name: Build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: 5.10.1
      - name: Build
        run: swift build
      - name: Verify
        run: |
          file .build/debug/setapp-cli
          .build/debug/setapp-cli --version
